#titulo{
    color:blueviolet;
}

p.texto{
    color:goldenrod;
}

p.especial{
    color:red;
}

p.ejemplo {
    color:gray;
}

div p {
    color: beige;
    font-size:40px;
}

div h2, div h3{
    color: brown;
    font-size:22px;
}

.color{
    border-style: solid;
    border-color:brown;
    border-radius:8px;
    border-width: 9px;
}

#fondo {
    color: yellow;
    background-color: rgba(225,0,0);
    height: 200px;
    background: #abc543 url('newyork.jpg') center/200px 300px;
}

.margen {
    font-size:30px;
    background-color: green;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px red
    height:100px;
    width: 150px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family:'Roboto', italic;
    text-align: justify;
    font-size:30px;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;

}

a:link{
    color: blueviolet;
}

a:visited{
    color: gray;
}

a:hover{
    color: yellow;
}

a:active{
    color:red;
}

ul{
    background-color: cyan;
    list-style-type: disc ;
    padding-left: 0;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #cadf13;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:hover{
    background-color: #aaa;
}

span{
    display: block;
    max-width: 300px;
    background-color: moccasin;
}

.inline{
    display: inline;
}

#position{
    position: sticky;
    left: 20px;
    top: 15px;
}

.left{
    float: left;
    width: 350px;
    height: 200px;
}

.rigth{
    float: rigth;
}

.container{
    height: 200px;
}

.card{
    border: solid 0px #ddd;
    border-radius: 5px;
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.center{
    width: 200px;
    margin: 0 auto;
    background-color: pink;
}

.flex{
    
}