body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

header{
    display: flex;
    height: 150px;
    background-color: #37517e;
    align-items: center;
    padding: 50px;
}


a{
    text-decoration: none;
    color: white;
}

.lista{
    align-items: center;
}

.menu{
    list-style: circle;
    padding: 0;
    background: #092327;
    width: 125.6%;
    max-width: 1800px;
    margin: auto;
    font-size:110%;
}

.menu li a{
    text-decoration: none;
    color: wheat;
    padding: 20px;
    display: inline-block;
    align-items: center;
}

.menu li{
    display: inline-block;
}

.menu li a:hover{
    background: goldenrod;
}

.logo{
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.logo img{
    height: 100px;
    margin-right: 610px;
}
header h1{
    font-size: 3rem;
    text-align: center;
}

.container{
    width: 400px;
    margin: 0 auto;
}

section article{
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0,5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); 
}

section article h2, section article p{
margin: 1rem;
}

.color{
    background-color: #37517e;
    padding: 0.8rem;
    color: #fff;
    list-style: circle;
    padding: 0;
    width: 125.6%;
    max-width: 1820px;
    margin: auto;
    font-size:110%;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}


html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #37517e;
    color: white;
    padding: 3rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}

.container{
    width: 400px;
    
    margin: 0 auto;
}

section article{
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0,5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); 
}

section article h2, section article p{
margin: 1rem;
}

footer{
    background-color: #222;
    padding: 5rem;
    color: #fff;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #000000;
    text-decoration: none;
    font-size: 110%;
    text-align: center;
}

footer a:hover{
    color: cornflowerblue;
}

.container{
    display: flex;
    justify-content: center;
}

.post{
    background-color: #364552;
    border-radius: 40px;
    width: 350px;
    height: 650px;
    margin: 10px;
    cursor: pointer;
}

.post1{
    background-color: goldenrod;
    border-radius: 40px;
    width: 350px;
    height: 650px;
    margin: 10px;
    cursor: pointer;
}


.frase{
    text-align: center;
    color: black;
}

.info, .horas{
    color: black;
    text-align: center;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif
}

.copy{
    color: white;
    text-align: center;
    font-size: 110%;
}

.wrapper ul{
    list-style: none;
}

.social ul li{
    width: 53px;
    height: 55px;
    line-height: 90px;
    margin: 0 10px;
    text-align: lefts;
    cursor: pointer;
    border-radius: 40px;
    float: inline-start;
    transition: all 0.5s case;
}

.social ul li .facebook{
    color: #d8e2dc;
    margin-top: 20px;
    transition: all 0.5s ease;
    text-align: center;
    padding-bottom: 25px;
}

.social ul li:hover.facebook{
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.social ul li .whatsapp{
    color: #d8e2dc;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.social ul li:hover.whatsapp{
    border: 5px solid #24bd06;
    box-shadow: 0 0 30px #24bd06;
    transition: all 0.5s ease;
}

.social ul li .youtube{
    color: #d8e2dc;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.social ul li:hover.youtube{
    border: 5px solid #c70610;
    box-shadow: 0 0 30px #c70610;
    transition: all 0.5s ease;
}

.loacation{
    text-align: initial;
    color: white;
    font-size: 115%;
    font-family: Arial, Helvetica, sans-serif;
}

.maps{
    align-items: first baseline;
    text-align: initial;
}

.correo{
    text-align: center;
    color: white;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
}

.social ul li{
    width: 53px;
    height: 55px;
    line-height: 90px;
    margin: 0 10px;
    text-align: lefts;
    cursor: pointer;
    border-radius: 40px;
    float: inline-start;
    transition: all 0.5s case;
}

.social ul li .facebook{
    color: #d8e2dc;
    margin-top: 20px;
    transition: all 0.5s ease;
    text-align: center;
    padding-bottom: 25px;
}

.social ul li:hover.facebook{
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.social ul li .whatsapp{
    color: #d8e2dc;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.social ul li:hover.whatsapp{
    border: 5px solid #24bd06;
    box-shadow: 0 0 30px #24bd06;
    transition: all 0.5s ease;
}

.social ul li .youtube{
    color: #d8e2dc;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.social ul li:hover.youtube{
    border: 5px solid #c70610;
    box-shadow: 0 0 30px #c70610;
    transition: all 0.5s ease;
}

.loacation{
    text-align: initial;
    color: white;
    font-size: 115%;
    font-family: Arial, Helvetica, sans-serif;
}

.maps{
    align-items: first baseline;
    text-align: initial;
}

.correo{
    text-align: center;
    color: white;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
}
.all-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.products{
    overflow: hidden;
    background: white;
    color: black;
    text-align: center;
    width: 280px;
    height: 380px;
    padding: 2rem;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
    cursor: pointer;
}